.job_item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
.index_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form {
    width: 400px;
    margin: 0 auto;
}
.jobbox {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.nav-pagination {
    text-align: center;
    clear: both;
}
.list-more {
    text-align: center;
    margin-bottom: 50px;
}

.list-more-btn {
    padding: 10px 138px;
    color: #5cb85c;
    background-color: #fff;
}
.job-list,
.company-list {
    margin-top: 15px;
}
.company-item {
    text-align: center;
}
.nav-navigation {
  text-align: center;
}
.company_name {
  line-height: 1.5 !important;
  min-width: 72px !important;
}
.job-salary {
  color: #fd5f39
}
.job-detail {
font-size: 15px;
margin-bottom: 50px;
}
.job-meta{
color: #999
}
.job-item{
border: 1px solid #eee;
border-left: 5px solid #00b38a;
padding: 15px 10px;
margin-bottom: 15px;
}
