.job_item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
.index_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form {
    width: 400px;
    margin: 0 auto;
}
<<<<<<< HEAD
.jobbox {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.nav-pagination {
    text-align: center;
    clear: both;
}
.list-more {
    text-align: center;
    margin-bottom: 50px;
}

.list-more-btn {
    padding: 10px 138px;
    color: #5cb85c;
    background-color: #fff;
}
.job-list,
.company-list {
    margin-top: 15px;
}
.company-item {
    text-align: center;
=======
.nav-navigation {
  text-align: center;
>>>>>>> now
}
