{% extends 'base.html' %}
{% from "macros.html" import render_pagination%}

{% block title %}Home{% endblock %}

{% block head %}
<div class="jumbotron">
    <div class="container">
    <h1>JOBPLUS</h1>
    <p>找工作就上JOBPLUS</p>
    </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">New post</a></li>
</ul>

<div class="row">
    {% for job in jobs.items %}
    <div class="col-sm-6 col-md-4 course">
        <div class="jobbox">
            <div class="caption">
            <a href="#" >
                <b>{{ job.name }}</b>
                <p>{{ job.qualifications }}</p>
                <span class="label label-default">{{ job.tags }}</span
            </a>
            </div>
            <div class="media">
                <div class="media-left">
                <a href="#">
                    <img width="40" height="40" class="media-object" alt="job.company.name" src="job.company.logo">
                </a>
                </div>
            <div class="media-body">
                <a href='#'>
                    <h4 class="media-heading">{{ job.company.name }}</h4>
                </a>
                <span>{{ job.company.address}}</span>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination(jobs, 'front.index')}}
{% endblock %}
