{% extends 'base.html' %}
{% from "macros.html" import render_pagination%}

{% block title %}Home{% endblock %}

{% block head %}
<div class="jumbotron">
    <div class="container">
    <h1>JOBPLUS</h1>
    <p>找工作就上JOBPLUS</p>
    </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">New post</a></li>
</ul>

<div class="row">
    <div class="job-list">
    {% for job in jobs.items %}
        {{ render_job(job) }}
    {% endfor %}
    </div>
</div>

<p class="list-more">
<a href="{{ url_for('job.index') }}" class="btn btn-success btn-lg list-more-btn">More Job</a>
</p

<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">Hot company</a></li>
</ul>>

<div class="row">
    <div class="company-list">
        {% for company in companies.items %}
        {{ render_company(comapny) }}
        {% endfor %}
    </div>
</div>

<p class="list-more">
<a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">More Company</a>
</p>

{% endblock %}
