{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}">
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.type == 'CSRFTokenField' %}
        {{ '' }}
        
        {% elif field.type == 'SubmitField' %}
        {{ form.submit(class='btn btn-primary', type='submit') }}
        
        {% elif field.type == 'BooleanField' %}
        <div class="checkbox">
            <label>{{ field() }} {{ field.label.text }}</label>
        </div>
        {% else %}

        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label }} {{ field(class='form-control') }}
            {% if field.errors %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<nav class='nav-navigation' aria-label="Page navigation">
    <ul class="pagination">
      <li {% if not pagination.has_prev %} class='disabled' {% endif %}>
        <a href="{{ url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in pagination.iter_pages() %}
      {% if page %}
          {% if page != pagination.page %}
              <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
          {% else %}
              <li class='active'><a href="#">{{ page }} <span class='sr-only'>(current)</span></a></li>
          {% endif %}
      {% else %}
      <li><span class='ellipsis'>...</span></li>
      {% endif %}
      {% endfor %}
      <li {% if not pagination.has_next %} class='disabled' {% endif %}>
        <a href="{{ url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#' }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endmacro %}

{% macro render_job(job) %}
    <div class="col-md-4">
        <div class="job_item">
            <div class="caption">

                <a href="{{ url_for('job.detail', job_id=job.id) }}"><h3 class='index_title '>{{ job.name }}</h3></a>

                
                <p>{{ job.work_year }}  {{ job.degree }}</p> 
            </div>
            <hr />
            <div class='media'>
                <div class='media-left'>
                    <img src="{{job.company.logo}}" class="media-object" width="82" height="82"/>
                </div>
                <div class='media-body' style="vertical-align: middle">
                    <h4 class='media-heading '>
                    {{ job.company.name }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_company(company) %}
<div class="col-sm-6 col-md-4 company-item">
    <div class="thumbnail">
        <a href="{{ url_for('company.detail', company_id=company.id) }}">
        <img src="{{ company.logo }}" width="100" height="100" alt="{{ company.name }}">
        <h3 class='company_name'>{{ company.name}}</h3>
            <p>{{ company.industry }}</p>
        </a>
    </div>
</div>
{% endmacro %}
