{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_company %}

{% block style %}
.company_name {
  line-height: 1.5;
  min-height: 72px;
}
{% endblock %}

{% block title %}company{% endblock %}


{% block body %}
<div class="jumbotron">
    <h1>..</h1>
  </div>


  <div class="company-list">
      {% for company in pagination.items %}
        {{ render_company(company) }}
        {% endfor %}
  </div>

{{ render_pagination(pagination, 'company.index') }}
{% endblock %}

